<!-- Навигационная панель -->
<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Проект электронного магазина.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Меню</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'catalog:home' %}" class="text-white">Главная</a></li>
                    <li><a href="#" class="text-white">Категории</a></li>
                    <li><a href="{% url 'catalog:products' %}" class="text-white">Наши товары</a></li>
                    <li><a href="{% url 'catalog:contacts' %}" class="text-white">Контакты</a></li>
                    <li><a href="{% url 'catalog:create_product' %}" class="text-white">Добавить товар</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>E-shop</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#    <a class="navbar-brand" href="{% url 'catalog:home' %}">E-shop</a>#}
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"#}
{#            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarNav">#}
{#        <ul class="navbar-nav ml-auto">#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'catalog:home' %}">Главная</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">Категории</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'catalog:products' %}">Наши товары</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'catalog:create_product' %}">Добавить продукт</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}
