{% extends 'catalog/base.html' %}
{% load media_tags %}
{% load media_filters %}
{% block content %}
    <div class="container mt-5">
        {% for product in products %}
            <!-- Карточки товаров -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image|mediapath }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} р.</p>
                            <p class="card-text">Описание: {{ product.description|slice:':100' }}.</p>
                            <a href="#" class="btn btn-primary">Купить</a>
                            <a href="{% url 'catalog:product' product.id %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}