{% extends 'catalog/base.html' %}
{% load media_tags %}
{% load media_filters %}

{% block content %}
    <div class="product-list">
        {% for product in page_obj %}
            <div class="product-card">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description|slice:":100" }}{% if product.description|length > 100 %}...{% endif %}</p>
                <p>Price: ${{ product.price }}</p>
                <img src="{{ product.image.url }}" alt="{{ product.name }}"/>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; первая</a>
          <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
      {% endif %}

        <span class="current-page">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
      </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
